/* ============== About ===============
==========================================*/

/* ============== Hero =============== */
.hero {
	height: $hero_height;
	width: 100%;
	@include verticalFlex(center, center);
}
.logo_for__hero {
	@include horizontalFlex(center, center);
	position: absolute;
	user-select: none;
	width: 135px;
	height: 135px;
	z-index: 1;
	background: rgba(0, 102, 26, .9);
	background: linear-gradient(45deg, 
	            	rgba(0, 102, 26, .97),
	            	rgba(0, 204, 51, .8) 40% 60%,
	            	rgba(0, 102, 26, .97));
	border-radius: 50%;
}
.logo_for__hero a {
	padding: 10px;
	@include horizontalFlex(center, center);
}
.logo_for__hero a img {
	width: 80%;
}
.img_box {
	width: 100%;
	height: 100%;
	background: rgba(122, 122, 122, .5);
	overflow: hidden;
}
.split_image {
	position: relative;
	width: 100%;
	height: $split_image__height;
	background-size: 100% 100%;
	background-position: center center;
	background-repeat:  no-repeat;
	transition: transform .8s ease-in-out;
	text-align: center;
	@include verticalFlex(center, center);
}
.split_image::after {
	content: "";
    width: 100%;
    height: $split_image__height;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(255, 228, 196  , .3), 
    	rgba(0,0,0, .4) 35% 65%, rgba(255, 228, 196  , .3));
}
.split_image:hover {
	transform: scale(1.55);
}
.split_image h2 {
	margin: 0;
	user-select: none;
	color: $white;
	z-index: 1;
	font-size: 1.5em;
}
.split_image a {
	@include linkButton(100px, 25px, $soilBrown, $white, 25px);
	z-index: 1;
}
.split_image a:hover {
	@include linkButtonHover(rgba(90, 45, 12, .6));
}

.main_wrapper {
	width: 100%;
	box-sizing: content-box;
}
.main_content {
	width: 80%;
	margin: 0 auto 55px auto;
	position: relative;
}

.hero_content__text h2 {
	margin: 0;
	color: $soilBrown;
}

.second_about___p {
	margin-bottom: 45px;
}

/* ============== Gallery =============== */
.blocks-gallery-item figure {
	max-width: 150px;
	max-height: 150px;
}
/* ============== Media Queries =============== */

@media screen and (min-width: 768px) {
	.blocks-gallery-item figure {
		max-width: 350px;
		max-height: 350px;
	}
}
/* ============== Media Queries Orientation Portrait =============== */

@media screen and (orientation: portrait) and (min-width: 998px) {
	.hero {
		height: $hero_height__large_portrait;
		@include horizontalFlex(center, center);
	}
	.split_image {
		height: $split_image__height__large_portrait;
	}
	.split_image::after {
		height: $split_image__height__large_portrait;
	}
	.split_image h2 {
		font-size: 2.5em;
	}
}

/* ============== Media Queries - Orientation Landscape =============== */

@media screen and (orientation: landscape) and (min-width: 530px) {
	.hero {
		height: $hero_height__large;
		@include horizontalFlex(center, center);
	}
	.logo_for__hero {
		width: 100px;
		height: 100px;
	}
	.split_image {
		height: $split_image__height__large;
	}
	.split_image::after {
		height: $split_image__height__large;
	}
	.split_image h2 {
		font-size: 1.2em;
	}
	.split_image a {
		@include linkButton(100px, 25px, $soilBrown, $white, 25px);
	}
}
@media screen and (orientation: landscape) and (min-width: 640px) {
	.split_image h2 {
		font-size: 1.5em;
	}
}
@media screen and (orientation: landscape) and (min-width: 1024px) {
	.split_image h2 {
		font-size: 2.5em;
	}
	.logo_for__hero {
		width: 150px;
		height: 150px;
	}
}

