/* ============== About ===============
==========================================*/
.main_wrapper {
	width: 100%;
	box-sizing: content-box;
}
.main_content {
	width: 80%;
	margin: 0 auto 55px auto;
	position: relative;
}

.hero_content__text h2 {
	margin: 0;
	color: $soilBrown;
}

.second_about___p {
	margin-bottom: 45px;
}

/* ============== Gallery =============== */
.blocks-gallery-item figure {
	max-width: 150px;
	max-height: 150px;
}
/* ============== Media Queries =============== */

@media screen and (min-width: 768px) {
	.blocks-gallery-item figure {
		max-width: 350px;
		max-height: 350px;
	}
}


