footer {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr 8fr 1fr;
	justify-items: center;
	background: $soilBrownLight;
	background: linear-gradient(
		        rgba(90, 45, 12, .99),
		        rgba(144, 91, 56, .99),
		        rgba(144, 91, 56, .99),
		        rgba(90, 45, 12, .99)
		        );
	color: $white;
}
.bottom_nav, .contact_details, .social_menu, .arrow_container, .copyright {
	grid-column: 2;
	margin: 30px auto;
}
/* ============== Footer Navigation =============== */
.bottom_nav {
	grid-row: 1;
	width: 100%;
	@include horizontalFlex(center, center);
}
.bottom_nav ul {
	@extend %ulStyle;
	text-align: center;
}
.bottom_nav ul li {
	display: inline;
}
.bottom_nav ul li a {
	color: $white;
	text-decoration: none;
	&:hover {
		color: rgba(255,255,255, .6);
	}
}
.bottom_nav ul li:last-child .separator {
	display: none;
}
footer .current_page_item a  {
			border-bottom: none;
}
/* ============== Footer Contact Details =============== */
.contact_details {
	grid-row: 2;
	@include verticalFlex(center, center);
	width: 100%;
	line-height: 25px;
}
.contact_details a {
	color: $white;
	text-decoration: none;
}
.contact_details span {
	text-align: center;
	padding: 0 25px 0 25px;
}
/* ============== Footer Social Menu =============== */
footer .social_menu {
	grid-row: 3;
	width: 100%;
	@include horizontalFlex(center, center);
}
footer .social_menu__items ul li a::before {
	height: 40px;
	width: 40px;
	transition: transform .5s ease-in-out;
	margin: 0 15px;
	border: 1px solid $white;
	@include horizontalFlex(center, center);
}
footer .social_menu__items ul li a:hover:before {
	transform-style: preserve-3d;
	transform: rotate3d(0,1,0, 55deg) scale(1.15);
}
.social_menu__items ul li a[href*="facebook.com"]::before {
	content: "\f39e";
	font-size: 18px;
}
.social_menu__items ul li a[href*="instagram.com"]::before {
	content: "\f16d";
	font-size: 21px;
}
.social_menu__items ul li a[href*="tripadvisor.com"]::before {
	content: "\f262";
	font-size: 23px;
}

/* ============== Footer Copuright =============== */
.copyright {
	grid-row: 4;
	@include horizontalFlex(center, center);
	width: 100%;
}
.copyright p {
	margin: 0;
}

/* ============== Up Arrow ========================*/
.arrow_container {
	grid-row: 5;
	position: relative;
	height: 50px;
	@include horizontalFlex(center, center);
}
.footer_arrow {
	grid-row: 4;
	width: 40px;
	height: 40px;
	position: absolute;
	bottom: 1%;
	left: 50%;
	transform: translateX(-50%);
	border: 1px solid rgb(67, 33, 9);
	border-radius: 50%;
	background: $soilBrownLight;
	background: linear-gradient(
		        rgba(90, 45, 12, .99),
		        rgba(144, 91, 56, .99),
		        rgba(144, 91, 56, .99),
		        rgba(90, 45, 12, .99)
		        );
	cursor: pointer;
	@include horizontalFlex(center, center);
	animation: MoveUpDownFooter 1s ease infinite;
}
.footer_arrow img {
	width: 60%;
	margin: 0 auto;
}
@keyframes MoveUpDownFooter {
  0%, 100% {
    bottom: 35%;
  }
  50% {
    bottom: 15%;
  }
}