/* ============== HEADER ===============
==========================================*/
.header_menu {
	display: grid;
	grid-template-rows: 120px 250px 120px 120px;
	justify-items: center;
	right: -60%;
	position: fixed;
	height: 100%;
	overflow-y: scroll;
  	width: 60%;
	top: 0;
  	z-index: 2;
  	transition: right .4s ease-out;
  	/* Chrome and Safari fallback*/
  	background: linear-gradient(15deg,
	            	rgba(90, 45, 12, .98),
	            	rgba(90, 45, 12, .8),
	            	rgba(90, 45, 12, .98));
  	background: linear-gradient(15deg,
	            	rgba(90, 45, 12, .98),
	            	rgba(90, 45, 12, .8) 40% 60%,
	            	rgba(90, 45, 12, .98));
}
.active {
	right: 0;
	z-index: 3;
}
/* ============== Logo =============== */
.header_logo__large {
	display: none;	
}
.header_logo__small {
	grid-row: 1;
	z-index: 2;
	width: 128px;
	@include horizontalFlex(flex-start, center);
}
.header_logo__small a img {
	max-width: 100%;
	height: 30px;
}
/* ============== Navigation =============== */
.navigation_container {
	grid-row: 2;
	width: 100%;
	@include verticalFlex(center, center);
}
.top_nav {
	width: 100%;
	/*overflow: hidden;*/
}
.top_nav ul {
	@include ulStyle();
}
.top_nav ul li {
	width: 100%;
	@include verticalFlex(center, center);
	user-select: none;
}

.top_nav ul li a {
	color: $white;
	text-decoration: none;
	width: 128px;
	text-align: left;
	display: block;
	font-weight: bold;
	padding: 10px 0;
	font-family: Verdana, Georgia;
	font-size: 1em;
	text-transform: uppercase;
	transition-duration: .7s;
	transition-property: color;
	user-select: none;
		& span {
			user-select: none;
		}
		&:hover {
			color: rgba(255,255,255, .6);
		}
}
.current_page_item a  {
	border-bottom: 3px solid rgba(255,255,255, .9);
	color: rgba(255,255,255, .9);
}
.contact_details__header {
	grid-row: 3;
	width: 100%;
	color: $white;
	@include verticalFlex(center, center);
}
.contact_details__header a {
	color: $white;
	width: 127px;
	padding: 10px 0;
	font-size: 1em;
	text-decoration: none;
}

.contact_details__header span {
	width: 128px;
	padding: 10px 0;
	line-height: 25px;
	font-size: 1em;
}

/* ============== Icons =============== */
.fa_icons::before {
	float: left;
	width: 25px;
	padding-right: 0;
	display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.top_nav ul li:nth-child(1) .fa_icons::before {
	font-family: "normal", "Font Awesome 5 Brands","Font Awesome 5 Free"; 
	font-weight: 900; 
	content: "\f015";
}
.top_nav ul li:nth-child(2) .fa_icons::before {
	font-family: "normal", "Font Awesome 5 Brands","Font Awesome 5 Free";
	font-weight: 900; 
	content: "\f518";
}
.top_nav ul li:nth-child(3) .fa_icons::before {
	font-family: "Font Awesome 5 Free"; 
	font-weight: 900; 
	content: "\f818";
}
.top_nav ul li:nth-child(4) .fa_icons::before {
	font-family: "Font Awesome 5 Free"; 
	font-weight: 900; 
	content: "\f79f";
}
/*.top_nav ul li:nth-child(5) .fa_icons::before {
	font-family: "normal", "Font Awesome 5 Brands","Font Awesome 5 Free"; 
	font-weight: 900; 
	content: "\f1ea";
}*/
.top_nav ul li:nth-child(5) .fa_icons::before {
	font-family: "normal", "Font Awesome 5 Brands","Font Awesome 5 Free"; 
	font-weight: 900; 
	content: "\f0e0";
}
/* ============== Social Menu =============== */
.sr_text {
	display: none;
}
.social_menu__header {
	grid-row: 4;
	width: 100%;
	@include verticalFlex(center, center);
}
.social_menu__items ul {
	width: 100%;
	@include ulStyle();
	@include horizontalFlex(space-between, center);
}
.social_menu__items ul li {
	width: 33.33%;
}
.social_menu__items ul li a {
	text-decoration: none;
}
.social_menu__items ul li a:before {
	font-family: "normal", "Font Awesome 5 Brands","Font Awesome 5 Free";
	width: 15px;
	font-weight: 900; 
	color: $white;
	-webkit-font-smoothing: antialiased;
}
.social_menu__items ul li a {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; 
	justify-content: center;
}
.social_menu__items ul li a[href*="facebook.com"]::before {
	grid-column: 1;
	content: "\f39e";
	font-size: 18px;
}
.social_menu__items ul li a[href*="instagram.com"]::before {
	grid-column: 1;
	content: "\f16d";
	font-size: 21px;
}
.social_menu__items ul li a[href*="tripadvisor.com"]::before {
	grid-column: 1;
	content: "\f262";
	font-size: 24px;
	justify-self: center;
}
/* ============== Menu Toggle and Hamburger Icon =============== */
.menu_toggle {
	position: fixed;
	right: 0;
	top: 0;
	padding: 20px;
	cursor: pointer;
	z-index: 25;
}
.hamburger, .hamburger::before, .hamburger::after {
	content: '';
	display: block;
	background: $white;
	height: 3px;
	width: 1.5em;
	border-radius: 3px;
	transition: transform ease-in-out 400ms;
}
.hamburger::before {
	transform: translateY(-6px);
}
.hamburger::after {
	transform: translateY(3px);
}
.open {
	transform: rotate(45deg);
}

.open::after {
	transform: translateY(-3px) rotate(-90deg);
}
.open::before {
	opacity: 0;
}

/* ============== Media Queries =============== */
@media screen and (min-width: 768px) {
	.site_header {
		background: linear-gradient(15deg, 
	            	rgba(0, 102, 26, .97),
	            	rgba(0, 204, 51, .8),
	            	rgba(0, 102, 26, .97));
	  	background: linear-gradient(15deg, 
	            	rgba(0, 102, 26, .97),
	            	rgba(0, 204, 51, .8) 40% 60%,
	            	rgba(0, 102, 26, .97));
	}
	.header_container {
		display: grid;
	}
	/* ============== Logo =============== */
	.header_logo__large {
		display: block;
		grid-row: 1;
		grid-column: 1;
		justify-self: start;
		align-self: center;
		margin: 5px 5px 5px 5px;
	}
	.header_logo__large a img {
		max-width: 100%;
		height: 25px;
	}
	.header_logo__small {
		display: none;
	}
	/* ============== Navigation =============== */
	.header_menu {
		grid-row: 1;
		grid-column: 2;
		/*grid-template-columns: 1fr 1fr;
		grid-template-rows: 6vh 6vh;*/
		/*display: grid;*/
		@include horizontalFlex(flex-end, center);
		position: static;
	  	width: 100%;
	  	z-index: 2;
	  	overflow-y: hidden;
	  	background: transparent;	
	}
	.contact_details__header {
		/*grid-row: 1;
		grid-column: 2;
		@include horizontalFlex(space-between, flex-start);*/
		display: none;
	}
	/*.contact_details__header a {
		width: 35%;
	}
	
	.contact_details__header span {
		width: 65%;
		text-align: right;
		padding-right: 10px;
	}
	.contact_details__header a .fa_icons::before, .contact_details__header span::before {
		display: none;
	}*/
	.navigation_container {
		grid-row: 1;
		grid-column: 1/ span 2;
		align-self: end;
		margin: 0 1% 0 0;
	}
	.top_nav {
		@include verticalFlex(flex-end, flex-end);

	}
	.top_nav ul {
		@include horizontalFlex(flex-end, center);
	}
	.top_nav ul li {
		@include horizontalFlex(center, center);
		width: auto;
	}
	.menu_toggle {
		display: none;
	}
	.top_nav ul li a {
		font-size: .9em;
		width: 110px;
	}
	.social_menu__header {
		display: none;
	}
}

@media screen and (min-width: 998px) {
	.header_container {
		width: 80%;
		margin: 0 auto;
	}
}

@media screen and (orientation: landscape) and (min-width: 530px) {
	.header_logo_small {
		width: 100px;
		height: 100px;
	}
}
@media screen and (orientation: landscape) and (min-width: 768px) {
	.header_logo_small {
		width: 150px;
		height: 150px;
	}
}
@media screen and (orientation: landscape) and (min-width: 824px) {
	.header_container {
		width: 80%;
		margin: 0 auto;
	}
}

