/* ======================= Home ================================
====================================================================*/
.home .main_wrapper {
	width: 80%;
	margin: 0 auto;
}
.home .main_content {
	text-align: center;
	color: $soilBrown;
}
.home .main_content p {
	margin: 35px 0;
	line-height: 35px;
}

.home .main_specialties {
	text-align: center;
}
.home .main_specialties h2 {
	color: $soilBrown;
}
.home .specialty_item {
	margin-bottom: 50px;
}
.home .specialty_content {
	max-width: 100%;
	max-height: auto;
}
.home .specialty_info {
	@include verticalFlex(center, center);
}
.home .specialty_info .specialty_link {
	align-self: right;
}
.home .specialty_info .price {
	font-weight: 900;
	font-size: 24px;
}
.home .specialty_info h3, .home .specialty_info h5, 
.home .specialty_info .price, .home .specialty_info p {
	margin: 10px 0;
}

/* ============== Media Queries =============== */
@media screen and (min-width: 768px) {
	.home .main_content p {
		font-size: 1.25em;
	}
	.location_reservation {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (min-width: 992px) {
	.home .specialty_wrapper {
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		justify-items: center;
	}
	.home .specialty_content {
		position: relative;
		overflow: hidden;
		display: table;
		box-sizing: border-box;
	}
	.home .specialty_info {
		position: absolute;
		top: 100%;
		left: 0;
		height: 100%;
		width: 100%;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		color: $white;
		padding: 5px;
		opacity: 0;
		z-index: 2;
		background: linear-gradient(15deg, 
	            	rgba(0, 102, 26, .1),
	            	rgba(0, 204, 51, .8),
	            	rgba(0, 102, 26, .1));
	    background: linear-gradient(15deg, 
	            	rgba(0, 102, 26, .5),
	            	rgba(0, 204, 51, .8) 45% 55%,
	            	rgba(0, 102, 26, .5));
	    transition: all .4s ease-in;
	}
	.specialty_content:hover .specialty_info {
		top: 0;
		opacity: 1;
	}
	.home .specialty_info h3 {
		height: 60px;
		font-size: 20px;
	}
	.home .specialty_info h5 {
		margin: 15px 0;
	}
	.home .specialty_info .price {
		height: 40px;
		text-align: center;
		margin: 15px 0;
		font-size: 18px;
	}
	.home .specialty_info p {
		height: 70px;
		text-align: left;
		padding: 0 5px;
	}
	.home .specialty_info .specialty_link {
		margin-top: 20px;
	}
	.location_reservation {
		width: 80%;
		margin: 0 auto;
	}
}

