/* ======================= SIDEBAR ================================
====================================================================*/

/* ======================= Searchform =========================== */
.widget h3 {
	margin: 25px 0 25px 0;
	color: $soilBrown;
}
form.searchform div {
	width: 100%;
	@include horizontalFlex(flex-start, center);
}
.widget .searchform label {
	display: none;
}
.widget .searchform #s {
	width: 100%;
	height: 25px;
	margin: 0;
	&:focus {
		outline: 2px solid $coral;
	}
}
.widget .searchform #searchsubmit {
	text-indent: 30px;
	width: 25px;
	height: 26px;	
	margin: 0;
	background-image: url("img/search.png"),
					linear-gradient( 
	            	rgba(0, 102, 26, .97),
	            	rgba(0, 204, 51, .8) 0% 80%,
	            	rgba(0, 102, 26, .97)); 
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	&:focus {
		background-image: url("img/search.png"),
					linear-gradient( 
	            	rgba(0, 102, 26, .97),
	            	rgba(0, 204, 51, .8) 20% 100%,
	            	rgba(0, 102, 26, .97)); 
		border: none;           	
		outline: 2px solid $coral;
	}
}

/* ================== Recent Posts & Categories =========================== */
.widget ul {
	list-style-type: none;
}
.widget ul li {
	margin-bottom: 20px;
	line-height: 20px;
}
.widget ul li a {
	line-height: 30px;
	color: $black;
	text-decoration: none;
	&:hover {
		opacity: .6;
	}
}
.widget ul li span {
	color: $coral;
}

/* ================== Sidebar gallery =========================== */
.fluidbox__wrap img {
	max-width: 75px;
	max-height: 75px;
}

/* ============== Media Queries =============== */
@media screen and (min-width: 1100px) {
	.fluidbox__wrap img {
		max-width: 100px;
		max-height: 100px;
	}
}

@media screen and (min-width: 1200px) {
	.widget .searchform #s {
		width: 80%;
	}
	.fluidbox__wrap img {
		max-width: 115px;
		max-height: 115px;
	}
}
@media screen and (min-width: 1300px) {
	.fluidbox__wrap img {
		max-width: 120px;
		max-height: 120px;
	}
}
@media screen and (min-width: 1500px) {
	.widget .searchform #s {
		width: 60%;
	}
	.fluidbox__wrap img {
		max-width: 150px;
		max-height: 150px;
	}
}