/* ======================= Events - Single  ================================
====================================================================*/

/* ============== Hero =============== */
.main_events__single {
    width: 100%;
    text-align: center;
}
.main_events__single h3 {
	margin: 25px 0 25px 0;
	padding: 10px 0;
	line-height: 30px;
	color: $soilBrown;
	/*background: linear-gradient(15deg, 
	            	rgba(0, 102, 26, .97),
	            	rgba(0, 204, 51, .8),
	            	rgba(0, 102, 26, .97));
	background: linear-gradient(15deg, 
	            	rgba(0, 102, 26, .97),
	            	rgba(0, 204, 51, .8) 40% 60%,
	            	rgba(0, 102, 26, .97));*/
}
.single_post {
	width: 80%;
	margin: 0 auto 50px auto;
	text-align: left;
}
.post_date time span {
	color: $soilBrown;
	font-size: 12px;
	font-weight: 700;
}
iframe {
	width: 100%;
}

/* ============== Media Queries Orientation Landscape =============== */
@media screen and (min-width: 768px) {

	.soundCloud_container {
		width: 50%;
	}
	.wp-block-image {
		max-width: 50%;
		height: auto;
	}
	iframe {
		width: 50%;
	}
	.event_content p {
		@include horizontalFlex(space-between, center);
		flex-wrap: wrap;
		font-size: 20px;
	}
}