/* Colors */
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$coral: rgb(255, 127, 80);
$forestGreen: rgb(0, 102, 26);
$lightForestGreen: rgb(0, 204, 51);
$soilBrown: rgb(90, 45, 12);
$soilBrownLight: rgb(144, 91, 56);



/* Fonts */

	/* For headings */
$vollkorn: 'Vollkorn SC', serif;
$jackFrancois: 'Jacques Francois Shadow', cursive;
$bungee: 'Bungee Inline', cursive;

	/* For text */
$noto: 'Noto Serif JP', serif;

/* Media queries */
$heroHeight_portrait_small: 100vh;
$splitImageHeight_portrait_small: 50vh;

$heroHeight_portrait_medium: 94vh;
$splitImageHeight_portrait_medium: 47vh;

$heroHeight_portrait_large: 45vh;
$splitImageHeight_portrait_large: 45vh;

$heroHeight_landscape_small: 75vh;
$splitImageHeight_landscape_small: 75vh;

$heroHeight_landscape_large: 55vh;
$splitImageHeight_landscape_large: 55vh;