/* Colors */
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$coral: rgb(255, 127, 80);
$forestGreen: rgb(0, 102, 26);
$lightForestGreen: rgb(0, 204, 51);
$soilBrown: rgb(90, 45, 12);
$soilBrownLight: rgb(144, 91, 56);



/* Fonts */

	/* For headings */
$vollkorn: 'Vollkorn SC', serif;
$jackFrancois: 'Jacques Francois Shadow', cursive;
$bungee: 'Bungee Inline', cursive;


	/* For text */
$noto: 'Noto Serif JP', serif;

/* Media queries */
$hero_height: 90vh;
$split_image__height: 45vh;


$split_image__height__large: 75vh;
$hero_height__large: 75vh;

$hero_height__large_portrait: 45vh;
$split_image__height__large_portrait: 45vh;